ul,ol{
    list-style: none;
}


a{
    text-decoration: none;
}

hr{
    margin: 0;
}

.container{
    // width: 1244px;
    margin: 0 auto;

    @media(min-width:320px){
        padding: 0 20px;

    }
    @media(min-width:390px){
        padding: 0 24px;
    }
    @media(min-width:768px){
        max-width: 738px;
        padding: 0;
    }
    @media(min-width:1280px){
        max-width: 1244px;
    }

}

@font-face {
    font-family: "Clash Display";
    src: url(../fonts/ClashDisplay-Regular.otf);
}

@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Regular.ttf);
}
