@mixin btn_hero(){
    padding: 0;
    color: var(--White, #FFF);
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 16px 32px;
    background: rgba(249, 249, 249, 0.15);
    border: none;
    // width: 170px;
}