.header{
    @media(min-width:320px){
        padding: 0 22px 0 19px;
    }
    @media(min-width:390px){
        padding: 0 24px 0 20px;
    }
    @media(min-width:768px){
        padding: 0;
    }
    &__title{
        color: #22202E;
        font-family: Clash Display;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        margin: 20px 0 20px 0;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__serch{
        margin-left: 28px;
        color: #2A254B;
        @media(min-width:320px){
            display: none;
        }
        @media(min-width:768px){
            display: block;
        }


    }
    // &__search2ico{
        
    // }
    

    &__apps{
        display: flex;
        gap: 16px;
        align-items:center;
        margin-right: 28px;
        @media (min-width:320px) {
            display: none;
        }
        @media (min-width:768px){
            display: block;
        }
    }

    &__line{
        background: rgba(0, 0, 0, 0.10);
        margin: 0 26px 0 26px;
        @media (min-width:320px) {
            display: none; 
        }
        @media(min-width:768px){
            display: block;
        }
    }

    &__item{
        color: #726E8D;
        font-family: Satoshi;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__list{
        display: flex;
        gap: 44px;
        margin: 20px 0 20px 0;

    }
    &__nav{
        display: flex;
        margin: 0 auto;
        @media (min-width:320px) {
            display: none;
        }
        @media (min-width:768px){
            display: block;
        }
    }

    &__hamburger {
        @media (min-width:320px){
          display: flex;
          flex-direction: column;
          gap: 3px;
          span{
            width: 16px;
            display: block;
            border: 0.5px solid #212121;
          }
        }
        // @media(min-width:480px){
    
    
        // }
    
        @media (min-width:768px){
          display: none;
    
        }
      }

    &__mobileblock{
        display: flex;
        gap: 20px;
        @media(min-width: 768px){
            display: none;
        }
    }


}


.menu{
    display: none;
    position: relative;
    @media(max-width:768px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        z-index: 2000;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #FFF;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
        padding: 48px 0;

        transition: 270ms ease-in-out;
    }
    &__btn{
        background: transparent;
        border:none;
        position: absolute;
        top: 20px;
        right: 20px;



    }
    &__item{
        color: #726E8D;
        font-family: Satoshi;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        margin: 0 auto;
        align-items:center;
    }
    &-open{
        left: 0; 
    }
}


