.hero{
    .container{
        @media(min-width:320px){
            padding: 0;
        }
    }
    &__block{
        background: var(--Dark-Primary, #2A254B);

        display: flex;
        flex-direction: column;
        gap: 41px;

        position: relative;
        @media(min-width:320px){
            margin: 0;
            padding: 40px 24px 24px 24px;
        }
        @media(min-width:768px){
            margin: 30px 0 30px 0;

        }
        @media(min-width:1280px){
            padding: 60px;
            margin: 60px 0 60px 0;

        }
    }

    &__title{
        color: var(--White, #FFF);
        font-family: Clash Display;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        @media (min-width:320px) {
            margin-bottom: 80px;
            
        }
        @media(min-width:768px){
            margin-bottom: 0;
        }
    }
    &__btn{
        // padding: 0;
        // color: var(--White, #FFF);
        // font-family: Satoshi;
        // font-size: 16px;
        // font-style: normal;
        // font-weight: 400;
        // line-height: 150%;
        // padding: 16px 32px;
        // background: rgba(249, 249, 249, 0.15);
        // border: none;
        @include btn_hero();
        width: 170px;
        @media (min-width:320px) {
            display: none;   
        }
        @media (min-width:768px){
            display: block;
        }
    }
    &__btn--mobile{
        @include btn_hero();
        @media(min-width:768px){
            display: none;
        }
    }

    &__img{
        width: 520px;
        height: 584px;
        position: absolute;
        top: 0;
        right: 0;
        @media (min-width:320px){
            display: none;
            
        }
        @media(min-width:1280px){
            display: block;
        }
        
    }
    &__desk{
        color: var(--White, #FFF);


        font-family: Satoshi;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 
        @media (min-width:320px) {
            margin-bottom: 32px;
            
        }
        @media(min-width:768px){
            margin-bottom: 0;
        }
    }
    &__group{
        display: flex;
        flex-direction: column;
        gap: 41px;

    }
    &__pack{
        display: flex;
        flex-direction: column;

        @media (min-width:320px) {
            gap:0;
            
        }
        @media(min-width:768px){
            gap: 80px;

        }
        @media(min-width:1280px){
            gap: 196px;
        }
    }

    &__mobilebr{
        @media(min-width:320px){
            display: none;
        }
        @media(min-width: 768px){
            display: block;
        }
    }
}