.popluar{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    @media (min-width:320px) {
        padding: 48px 0 38px 0;
        
    }
    @media (min-width:768px){
        padding: 59px 0 45px 0;
    }
    @media(min-width:1280px){
        padding: 80px 0 56px 0;
    }

    &__title{
        color: #2A254B;
        font-family: Clash Display;

        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        margin-bottom: 33px;
        @media(min-width:320px){
            font-size: 20px;
        }
        @media(min-width:768px){
            font-size: 32px;
            text-align: center;
        }
        @media (min-width:1280px) {
            text-align: left;
            
        }
    }
    &__img{
        width: 305px;
        height: 375px;
        margin-bottom: 24px;
        @media(min-width:390px){
            width: 163px;
            height: 201px;
        }
        @media(min-width:768px){
            width: 250px;
            height: 310px;
        }
        @media(min-width:1280px){
            width: 305px;
            height: 375px;
        }

    }
    &__subtitle{
        color:  #2A254B;
        font-family: Clash Display;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 8px;
    }
    &__price{
        color:#2A254B;
        font-family: Satoshi;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    &__btn{
        color: #2A254B;

        font-family: Satoshi;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        padding: 0;
        padding: 16px 32px;
        border: none;
        
        display: flex;
        margin: 0 auto;
        justify-content: center;
        margin-top: 35px;
        @media(min-width:320px){
            width: 100%;
        }
        @media(min-width:768px){
            width: 170px;
        }
    }
    &__list{
        display: flex;
        gap: 20px;
        @media(min-width:320px){
            display: none;

        }
        @media(min-width:390px){
            gap: 16px;
        }        
        @media(min-width:768px){
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            margin: 0 auto;
            justify-content: center;
        }
        @media(min-width:1280px){
            flex-wrap: nowrap;
            justify-content: left;
        }
    }
    // &__vases{
    //     display: none;
    // }
    // &__lamp{
    //     display: none;
    // }

    &__sofaimg{
        width: 630px;
        margin-bottom: 24px;
    }
    &__mobilelist{

        @media(min-width:320px){
            
            gap: 20px;
        }
        @media(min-width:390px){
            display: flex;
        }
        @media(min-width:768px){
            display: none;
        }

    }
    &__mobileimg{
        @media (min-width:390px) {
            width: 163px;
            height: 201px;
            
        }
    }
}